<div class="wrapper">
  <h1>
    <strong>Scott</strong>Elwood
    <small>Web Developer in Portland, OR</small>
  </h1>

  <div class="social">
    <a href="https://github.com/mcpants"><i class="icon-github"></i></a>
    <a href="http://www.linkedin.com/pub/scott-elwood/36/123/140"><i class="icon-linkedin-sign"></i></a>
    <a href="https://www.gittip.com/McPants/"><i class="icon-gittip"></i></a>
    <a href="mailto:scott@wtmworldwide.com"><i class="icon-envelope"></i></a>
  </div>

  <ul>
    <li>
      <a href="http://mcpants.github.io/jquery.shapeshift/" target="_blank">jQuery.Shapeshift</a>
      <a href="https://github.com/mcpants/jquery.shapeshift/"><i class="icon-github"></i></a>
    </li>
    <li>
      <a href="http://codescoper.herokuapp.com/" target="_blank">Codescoper</a>
      <a href="https://github.com/mcpants/codescoper/"><i class="icon-github"></i></a>
    </li>
    <li>
      <a href="http://wtm.github.io/jquery.gantt/" target="_blank">jQuery.Gantt</a>
      <a href="https://github.com/wtm/jquery.gantt/"><i class="icon-github"></i></a>
    </li>
    <li>
      <a href="https://github.com/mcpants/jquery.pikit/" target="_blank">jQuery.Pikit</a>
    </li>
    <li>
      <a href="https://github.com/McPants/jQuery-Coffeescript-Plugin-Template" target="_blank">jQuery Coffeescript Plugin Template</a>
    </li>
    <li>
      <a href="http://www.wtmworldwide.com" target="_blank">We the Media</a>
    </li>
  </ul>
</div>